# Directory to use for non-ephemeral container storage
#
# If unspecified, ./data is used.
DATA_DIR=

# Password to use for the database (required)
#
# A good way to generate a value for this is with:
#
#     openssl rand -base64 32
DB_PASSWORD=

# Secret key to use for signing the session cookies (required)
#
# A good way to generate a value for this is with:
#
#     openssl rand -base64 32
SECRET_KEY=
